<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>

<link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
	<div class="container">
		<div style="margin: 100px auto; width: 300px; border: 1pa solid #cccccc;">
			<p class="text-danger text-center">Oops!</p>
			<p class="text-info text-center">error request: <span th:text="${path}"></span></p>
			<p class="text-primary text-center" th:text="${'details: ' + message}"></p>
		</div>
	
	</div>
</body>
</html>