<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.CellDao">
	<!-- insertList-->
	<insert id="insertList" parameterType="java.util.List">
		insert into BDTM_CELL(notebook_id, type, input, output, PAIXU)
		SELECT A.*	FROM(
		<foreach collection="cells" item="item" index="i" separator="UNION ALL">
			SELECT
				#{item.notebookId},	#{item.type}, #{item.input}, #{item.output},
				${i}
			FROM dual
		</foreach>
		)A
	</insert>

	<!-- deleteList -->
	<delete id="deleteList">
		delete from Bdtm_cell where notebook_id = #{id}
	</delete>

	<!-- list by notebookId -->
	<select id="queryByNid" resultType="Cell">
		select notebook_id, type, input, output from BDTM_CELL where
		notebook_id = #{notebookId} ORDER BY PAIXU
	</select>

</mapper>