<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ClipsDao">
	<!-- insert-->
	<insert id="insert" parameterType="Clips">
		insert into BDTM_CLIPS(id, type, input, userid) values
			(SEQ_BDTM_CLIPS.nextval, #{type}, 
			 #{input}, #{userid})
	</insert>

	<!-- delete -->
	<delete id="delete">
		delete from BDTM_CLIPS where id = #{id}
	</delete>

	<!-- queryByUid -->
	<select id="queryByUid" resultType="Clips">
		select * from BDTM_CLIPS where userid = #{userId}
	</select>
	
	<!-- update -->
	<update id="update" parameterType="Clips">
		update BDTM_CLIPS 
		<set>
			<if test="type != null">
				type = #{type},
			</if>
			<if test="input != null">
				input = #{input}
			</if>
		</set>
		where id = #{id}
	</update>
	
</mapper>