<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xlyd.demo.dao.AddressDao">

    <sql id="colum1" >
		id, contact, addressDesc, postCode, tel, 
		createdBy, creationDate, modifyBy, modifyDate, 
		userId
	</sql>

    <select id="findByUserId" resultType="com.xlyd.demo.entity.Address">
		SELECT <include refid="colum1"/> FROM smbms_address where userId = #{userId}
	</select>

    <select id="findById" resultType="com.xlyd.demo.entity.Address">
		SELECT <include refid="colum1"/> FROM smbms_address where id = #{id}
	</select>
</mapper>




