<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xlyd.demo.dao.RoleDao">

    <sql id="colum1" >
		id, roleCode, roleName, createdBy, creationDate, modifyBy, modifyDate
	</sql>

    <select id="findAll" resultType="com.xlyd.demo.entity.Role">
		SELECT <include refid="colum1"/>  FROM smbms_role
	</select>

    <select id="findById" resultType="com.xlyd.demo.entity.Role">
		SELECT <include refid="colum1"/>  FROM smbms_role where id = #{id}
	</select>

</mapper>




