<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="AdPromotionMapper">

	<resultMap id="RM_AdPromotion" type="cn.pojo.AdPromotion">
        <result property="id" column="id"/>
        <result property="appId" column="appId"/>
        <result property="adPicPath" column="adPicPath"/>
        <result property="adPv" column="adPV"/>
        <result property="carouselPosition" column="carouselPosition"/>
        <result property="startTime" column="startTime"/>
        <result property="endTime" column="endTime"/>
        <result property="createdBy" column="createdBy"/>
        <result property="creationDate" column="creationDate"/>
        <result property="modifyBy" column="modifyBy"/>
        <result property="modifyDate" column="modifyDate"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="AdPromotion_columns">
	    <![CDATA[
		id,appId,adPicPath,adPV,carouselPosition,startTime,endTime,createdBy,creationDate,modifyBy,modifyDate
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true"(主键自增)  keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="cn.pojo.AdPromotion">
    <![CDATA[
        INSERT INTO ad_promotion (
         id, appId, adPicPath, adPV, carouselPosition, startTime, endTime, createdBy, creationDate, modifyBy, modifyDate
        ) VALUES (
         #{id}, #{appId}, #{adPicPath}, #{adPv}, #{carouselPosition}, #{startTime}, #{endTime}, #{createdBy}, #{creationDate}, #{modifyBy}, #{modifyDate}        
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update" parameterType="cn.pojo.AdPromotion">
    <![CDATA[
        UPDATE ad_promotion 
        <set >
	         <if test="appId != null" >
	              appId = #{appId} ,  
             </if>
	         <if test="adPicPath != null" >
	              adPicPath = #{adPicPath} ,  
             </if>
	         <if test="adPV != null" >
	              adPV = #{adPv} ,  
             </if>
	         <if test="carouselPosition != null" >
	              carouselPosition = #{carouselPosition} ,  
             </if>
	         <if test="startTime != null" >
	              startTime = #{startTime} ,  
             </if>
	         <if test="endTime != null" >
	              endTime = #{endTime} ,  
             </if>
	         <if test="createdBy != null" >
	              createdBy = #{createdBy} ,  
             </if>
	         <if test="creationDate != null" >
	              creationDate = #{creationDate} ,  
             </if>
	         <if test="modifyBy != null" >
	              modifyBy = #{modifyBy} ,  
             </if>
	         <if test="modifyDate != null" >
	              modifyDate = #{modifyDate}   
             </if>
	    </set>
        WHERE 
        	id = #{id}  	        
    ]]>
	</update>

    <!--传入id, 测试是否支持主键非id  -->
    <delete id="delete" parameterType="cn.pojo.AdPromotion">
    <![CDATA[
        DELETE FROM ad_promotion WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <!--传入id, 测试是否支持主键非id  -->
    <select id="findById" resultMap="RM_AdPromotion" parameterType="java.lang.Integer" >
		SELECT <include refid="AdPromotion_columns" />
	    <![CDATA[
		    FROM ad_promotion 
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>
	<!--传入id, 测试是否支持主键非id  -->
	 <select id="findAll" resultMap="RM_AdPromotion" parameterType="cn.pojo.AdPromotion" >
		SELECT <include refid="AdPromotion_columns" />
	    <![CDATA[
		    FROM ad_promotion 
	        WHERE 1=1
	    ]]>
	</select>
</mapper>

