<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlyd.springboot.app_platform.dao.IAppInfoDao">

	<!--查询所有待审核记录 -->
	<select id="findAll" resultType="AppInfo">
		SELECT
		a.`id`,a.`softwareName`,a.`APKName`,a.`supportROM`,
		a.`interfaceLanguage`, a.`softwareSize`, a.`updateDate`,a.`devId`,
		(SELECT devName FROM dev_user WHERE id = a.`devId`) AS devName,
		a.`appInfo`,
		a.status,
		(SELECT valueName FROM data_dictionary WHERE typeCode='APP_STATUS' AND
		valueId=a.`status`) AS statusName,
		a.`onSaleDate`,
		a.`offSaleDate`,
		(SELECT valueName FROM data_dictionary WHERE typeCode='APP_FLATFORM' AND
		valueId=a.`flatformId`) AS flatformName,
		(SELECT categoryName FROM app_category WHERE id=a.`categoryLevel3`) AS
		categoryLevel3Name,
		(SELECT categoryName FROM app_category WHERE id=a.`categoryLevel2`) AS
		categoryLevel2Name,
		(SELECT categoryName FROM app_category WHERE id=a.`categoryLevel1`) AS
		categoryLevel1Name,
		a.`downloads`,
		a.`createdBy`,
		a.`creationDate`,
		a.`modifyBy`,
		a.`modifyDate`,
		a.`logoPicPath`,
		a.`logoLocPath`,
		(SELECT versionNo FROM app_version WHERE id=a.`versionId`) AS versionNo,
		a.`versionId`
		FROM `app_info` AS a
		<where>
			<if test="status != null and status != '' ">
				a.`status` = #{status}
			</if>
			<if test="softwareName!='' and softwareName != null ">
				and softwareName LIKE CONCAT('%',#{softwareName},'%')
			</if>
			<if test="flatformId!=null and flatformId!='' ">
				AND flatformId = #{flatformId}
			</if>
			<if test="categoryLevel1 != null and categoryLevel1 != '' ">
				AND categoryLevel1 = #{categoryLevel1}
			</if>
			<if test="categoryLevel2 != null and categoryLevel2 !='' ">
				AND categoryLevel2 = #{categoryLevel2}
			</if>
			<if test="categoryLevel3 != null and categoryLevel3 !='' ">
				AND categoryLevel3 = #{categoryLevel3}
			</if>
		</where>

	</select>
<!--limit #{start}, #{size}-->

	<!-- 查询所有待审查记录数 -->
	<select id="appCount" resultType="Integer">
		select count(id) from `app_info` a
		<where>
			<if test="status != null and status != '' ">
				a.`status` = #{status}
			</if>
			<if test="softwareName!='' and softwareName != null ">
				and softwareName LIKE CONCAT('%',#{softwareName},'%')
			</if>
			<if test="flatformId!=null and flatformId!='' ">
				AND flatformId = #{flatformId}
			</if>
			<if test="categoryLevel1 != null and categoryLevel1 != '' ">
				AND categoryLevel1 = #{categoryLevel1}
			</if>
			<if test="categoryLevel2!=null and categoryLevel2!='' ">
				AND categoryLevel2 = #{categoryLevel2}
			</if>
			<if test="categoryLevel3!=null and categoryLevel3 !='' ">
				AND categoryLevel3 = #{categoryLevel3}
			</if>
		</where>
	</select>

	<!-- 通过id查找记录 -->
	<select id="findById" resultType="AppInfo">
		SELECT a.`id`,a.`softwareName`,a.`APKName`,a.`supportROM`,a.`softwareSize`,
		a.`interfaceLanguage`, a.`updateDate`,a.`devId`,
		(SELECT devName FROM dev_user WHERE id = a.`devId`) AS devName,
		a.`appInfo`,
		a.status,
		(SELECT valueName FROM data_dictionary WHERE typeCode='APP_STATUS' AND
		valueId=a.`status`) AS statusName,
		a.`onSaleDate`,
		a.`offSaleDate`,
		(SELECT valueName FROM data_dictionary WHERE typeCode='APP_FLATFORM' AND
		valueId=a.`flatformId`) AS flatformName,
		(SELECT categoryName FROM app_category WHERE id=a.`categoryLevel3`) AS
		categoryLevel3Name,
		(SELECT categoryName FROM app_category WHERE id=a.`categoryLevel2`) AS
		categoryLevel2Name,
		(SELECT categoryName FROM app_category WHERE id=a.`categoryLevel1`) AS
		categoryLevel1Name,
		a.`downloads`,
		a.`createdBy`,
		a.`creationDate`,
		a.`modifyBy`,
		a.`modifyDate`,
		a.`logoPicPath`,
		a.`logoLocPath`,
		(SELECT versionNo FROM app_version WHERE id=a.`versionId`) AS versionNo,
		a.`versionId`
		FROM `app_info` AS a
		<where>
			<if test="id != null and id != '' ">
				and a.`id` = #{id}
			</if>
		</where>
	</select>

	<!-- 跟新appinfo状态 -->
	<update id="updateStatus">
		UPDATE app_info SET
			`modifyBy` = #{modifyBy},
			`modifyDate` = #{modifyDate},
			`status` = #{status} 
		WHERE id = #{id}; 
	</update>

	<!-- 通过APKname查找记录 -->
	<select id="findByAPKName" resultType="AppInfo" parameterType="String">
	SELECT `id`,`softwareName`,`APKName`,`supportROM`,`interfaceLanguage`,
	  `softwareSize`, `updateDate`,`devId`,`appInfo`,`status`,`onSaleDate`,
	  `offSaleDate`,`flatformId`,`categoryLevel3`,`downloads`,`createdBy`,
	  `creationDate`,`modifyBy`,`modifyDate`,`categoryLevel1`,`categoryLevel2`,
	  `logoPicPath`,`logoLocPath`,`versionId`
	FROM `app_info` a
	<where>
		<if test="APKName != null and APKName != '' ">
			a.`APKName` = #{APKName}
		</if>
	</where>
	</select>

	<!-- 添加appInfo记录 -->
	<insert id="addAppInfo" parameterType="AppInfo"
			useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `app_info`
            (`id`,`softwareName`,`APKName`,`supportROM`,`interfaceLanguage`,
             `softwareSize`,`devId`,`appInfo`,`status`, `flatformId`,
             `categoryLevel3`,`downloads`,`createdBy`,`creationDate`,
             `categoryLevel1`,`categoryLevel2`,`logoPicPath`,`logoLocPath`)
		VALUES (
			#{id},#{softwareName},#{APKName},#{supportROM},#{interfaceLanguage},
			#{softwareSize},#{devId},#{appInfo},#{status},#{flatformId},
			#{categoryLevel3},#{downloads},#{createdBy},#{creationDate},
			#{categoryLevel1},#{categoryLevel2},#{logoPicPath},#{logoLocPath}
			)
	</insert>

	<!-- 跟新appinfo versionId -->
	<update id="updateVersionId">
		UPDATE app_info SET 
			`modifyBy` = #{modifyBy},
			`modifyDate` = #{modifyDate},
			`versionId` = #{versionId}
		WHERE id = #{id}; 
	</update>

	<!-- 清空logoLocPath -->
	<update id="emptyLogoPicPath">
		UPDATE app_info SET 
			logoPicPath=NULL,
			`modifyBy` = #{modifyBy},
			`modifyDate` = #{modifyDate}
		WHERE id = #{id};
	</update>

	<!-- 跟新记录 -->
	<update id="update" parameterType="AppInfo">
		UPDATE `app_info`
		  <set>
		  	<if test="softwareName != null">
			  `softwareName` = #{softwareName},
			</if>
			<if test="APKName != null">
			  `APKName` = #{APKName},
			</if>

			<if test="supportROM != null">
			  `supportROM` = #{supportROM},
			</if>
			<if test="interfaceLanguage != null">
			  `interfaceLanguage` = #{interfaceLanguage},
			</if>
			<if test="softwareSize != null">
			  `softwareSize` = #{softwareSize},
			</if>
			<if test="updateDate != null">
			  `updateDate` = #{updateDate},
			</if>
			<if test="devId != null">
			  `devId` = #{devId},
			</if>

			<if test="appInfo != null">
			  `appInfo` = #{appInfo},
			</if>
			<if test="status != null">
			  `status` = #{status},
			</if>
			<if test="onSaleDate != null">
			  `onSaleDate` = #{onSaleDate},
			</if>
			<if test="offSaleDate != null">
			  `offSaleDate` = #{offSaleDate},
			</if>
			<if test="flatformId != null">
			  `flatformId` = #{flatformId},
			</if>

			<if test="categoryLevel3 != null">
			  `categoryLevel3` = #{categoryLevel3},
			</if>
			<if test="downloads != null">
			  `downloads` = #{downloads},
			</if>
			<if test="modifyBy != null">
			  `modifyBy` = #{modifyBy},
			</if>
			<if test="modifyDate != null">
			  `modifyDate` = #{modifyDate},
			</if>
			<if test="categoryLevel1 != null">
			  `categoryLevel1` = #{categoryLevel1},
			</if>

			<if test="categoryLevel2 != null">
			  `categoryLevel2` = #{categoryLevel2},
			</if>
			<if test="logoPicPath != null">
			  `logoPicPath` = #{logoPicPath},
			</if>
			<if test="logoLocPath != null">
			  `logoLocPath` = #{logoLocPath},
			</if>
			<if test="versionId != null">
			  `versionId` = #{versionId},
			</if>
		 </set>
		WHERE `id` = #{id};
	</update>

	<delete id="deleteById">
		DELETE FROM .`app_info`
		WHERE `id` = #{id};
	</delete>

</mapper>

