<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.xlyd.springboot.app_platform.dao.IBackendUserDao">
	<!-- 后台用户验证查询 -->
	<select id="findByNameAndPwd" resultType="BackendUser">
		SELECT
		  `id`,
		  `userCode`,
		  `userName`,
		  `userType`,
		  (SELECT valueName FROM data_dictionary 
		  	WHERE typeCode='USER_TYPE' AND valueId=userType) userTypeName,
		  `createdBy`,
		  `creationDate`,
		  `modifyBy`,
		  `modifyDate`,
		  `userPassword`
		FROM `backend_user`
		WHERE userCode = #{userCode} and userPassword = #{userPassword}
	</select>

	<select id="findByName" resultType="BackendUser">
		SELECT
		  `id`,
		  `userCode`,
		  `userName`,
		  `userType`,
		  (SELECT valueName FROM data_dictionary
		  	WHERE typeCode='USER_TYPE' AND valueId=userType) userTypeName,
		  `createdBy`,
		  `creationDate`,
		  `modifyBy`,
		  `modifyDate`,
		  `userPassword`
		FROM `backend_user`
		WHERE userCode = #{userCode}
	</select>
</mapper>

