<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xlyd.springboot.app_platform.dao.IDevUserDao">

	<select id="findByNameAndPwd" resultType="DevUser" >
		SELECT
		  `id`,`devCode`,`devName`,`devPassword`,
		  `devEmail`,`devInfo`,`createdBy`,`creationDate`,
		  `modifyBy`,`modifyDate`
		FROM `dev_user`
		WHERE devCode=#{userCode} AND devPassword=#{userPassword}
	</select>

	<select id="findByName" resultType="com.xlyd.springboot.app_platform.entity.DevUser">
		select * from dev_user where devname = #{username}
	</select>

</mapper>

